

   .header {
    font-family: Arial, sans-serif;
  }
  
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 100px;
    margin-right: 8px;
  }
  
  .explore-text {
    font-size: 12px;
    color: #FFD700;
  }
  
  .search-bar {
    position: relative;
    width: 40%;
    margin-right: 100px;
  }
  
  .search-input {
    width: 100%;
    padding: 8px 40px;
    background-color: #f1f3f6;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #757575;
    font-size: 18px;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .icon-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .category-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
    gap: 10px; 
  }
  
  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 80px;
  }
  
  .category-icon {
    height: 40px;
    margin-bottom: 5px;
  }
  
  .category-label {
    font-size: 14px;
  }
  
 
  @media (max-width: 992px) {
    .search-bar {
      width: 20%;
      margin-right: 20px;
    }
  
    .header-icons {
      gap: 20px;
    }
  
    .category-item {
      width: 60px;
    }
  }
  

  @media (max-width: 768px) {
    .header-top {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .logo {
      height: 80px;
    }
  
    .search-bar {
      width: 60%;
      margin-right: 0;
    }
  
    .search-input {
      padding: 8px 35px;
    }
  
    .header-icons {
      gap: 15px;
    }
  
    .category-bar {
      justify-content: center;
      gap: 15px;
    }
  
    .category-item {
      margin: 5px 0;
      width: 70px;
      gap: 10px;
    }
  }
  
 
  @media (max-width: 576px) {
    .logo {
      height: 60px;
    }
  
    .search-bar {
      width: 70%;
      margin-bottom: 10px;
    }
  
    .header-icons {
      gap: 10px;
    }
  
    .category-bar {
      padding: 5px 0;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  
    .category-item {
      width: 55px;
    }
  
    .category-icon {
      height: 30px;
    }
  
    .category-label {
      font-size: 12px;
    }
  }
  
  /* Extra small screens */
  @media (max-width: 480px) {
    .search-bar {
      width: 60%;
    }
  
    .category-bar {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }
  
    .category-item {
      width: 50px;
    }
  
    .icon-item,
    .category-label {
      font-size: 10px;
    }
  }
  
  